:root {
  background-color: #a546f3;
 } 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px;
}

.container h1 {
  font-size: 25px;
  color: black;
  font-weight: 600;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
}

.quiz-container {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 20px;
  font-weight: 600;
  color: black;
  padding-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d9b5ea;
  color: black;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid black;
}

.start-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #d9b5ea;
  color: black;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid black;
}
.btn:hover {
  background-color: #a546f3;
  color: white;
}